.ordersInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: auto;
 
        .orders {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border:0.2em solid $orange;
        border-radius: 0.5em;
        padding: 0.5em;
        margin: 2em;
        width: 100%;
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 1em;
            }
        }
    }