.registerView {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color:rgb(15, 15, 15);
    color: white;
}


input {
    width: 20em;
    height: 2em;
    margin:1em;
    transition: 0.3s;
}

input:hover {
    transition: 0.3s;
    border: 0.2em solid;
}