.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content:center;
    align-items: center;
    width: 45em;
    height: 50em;
}

input {
    width: 20em;
    height: 2em;
    margin:1em;
    transition: 0.3s;
}

input:hover {
    transition: 0.3s;
    cursor: pointer;
    border: 0.2em solid rgb(199, 73, 15);
}

