.registerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 80%;
  border: 0.2em solid $orange;
  border-radius: 0.5em;
  background-color: $darkgray;

  .btn {
    width: 10em;
    background-color: $orange;
    border-radius: 1em;
  }
}
