.select {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .options {
    width: 5%;
  }
  .buttons {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
  }
  .error {
    position: absolute;
    font-size: 0.8em;
    color: $orange;
  }
  select {
    text-align: center;
    font-size: 1em;
    border-radius: 0.3em;
    width: 5em;
    height: 2em;
    transition: 0.2s;
    outline: none;
  }
  select:hover {
    transition: 0.2s;
    border: 0.125em solid $orange;
  }
}
