.movieNav {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movieInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
        .movies {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20em;
        height: 5em;
        border:0.2em solid $orange;
        border-radius: 0.5em;
        padding: 0.5em;
        margin: 2em;
}

h2 {
   color: $orange
}

.posters {
    width: 100%;
}
}

