.movies {
    width: 20em;
    border:0.2em solid $orange;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 2em;
    text-align: center;
}

h2 {
   color: $orange
}

.posters {
    width: 100%;
}
