.movieNav {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .error {
    font-size: 1em;
    color: $orange;
  }
}

.movieInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .movieContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .movies {
    display: flex;
    width: 20em;
    border: 0.2em solid $orange;
    border-radius: 0.5em;
    margin: 2em 2em 0 2em;
    background-color: $darkgray;
  }
  .poster {
    width: 100%;
  }
}
