.header {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background: $orangegradient;
    
    .hcontainer {
        width: 100%;
        max-width: 1920px;
        display: flex;
        
        .navbar {
            display: flex;
            flex-wrap: wrap;
            justify-content:flex-start;
            align-items: center;
            width: 60%;
        }
        
        .navlogin {
            display: flex;
            justify-content:flex-start;
            align-items:center;
            width: 40%;
        }
    }
}





