.header {
  display: flex;
  height: 8vh;
  background: $orangegradient;

  .hcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;

    .navbar {
      display: flex;
      align-items: center;
      .logopng {
        width: 3em;
        margin-left: 1em;
      }
      .btn {
        margin: 0 0.5em 0 0.5em;
      }
    }
  }
}
