.background {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  outline: 0.2em solid $orange;
  border-radius: 0.5em;
  height: 70%;
  width: 70%;
  background-size: cover;
  padding: 2em;

  .infoContainer {
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: inherit;
    .poster {
      height: 70%;
      outline: 0.2em solid $darkgray;
    }
    .info {
      height: 50%;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    h2 {
      color: $orange;
    }
    .btnOrange {
      font-size: 1em;
      padding: 0.5em;
      margin-left: 0;
      font-weight: bold;
    }
  }
}
