.footer {
  height: 12vh;
  background: $orangegradient;
  color: white;
  .fcontainer {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    .logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .logopng {
        margin-left: 1em;
        height: 50%;
      }
      p {
        font-size: 2em;
        font-weight: bold;
      }
    }
    .copyright {
      display: flex;
      align-items: center;
      p {
        font-size: 1em;
      }
    }
    .socialMedia {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 1.5em;
      margin-right: 0.5em;
      .fa {
        cursor: pointer;
        margin: 0.5em;
      }
      .fa:hover {
        color: $darkgray;
      }
    }
  }
}
