.userNav {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .error {
    font-size: 1em;
    color: $orange;
  }
  .btn {
    height: 2em;
    width: 10em;
  }
}

.userInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  .usersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .buttons {
    display: flex;
    flex-direction: row;
  }
  .users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 20em;
    height: 20em;
    border: 0.2em solid $orange;
    border-radius: 0.5em;
    padding: 0 1em 0 1em;
    margin: 2em 2em 0 2em;
    background-color: $darkgray;
  }
  h2 {
    color: $orange;
  }
}

.editInfo {
  background-color: $darkgray;
  border: 0.2em solid $orange;
  border-radius: 0.5em;
  padding: 0 1em 0 1em;
}
