.loginView {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 59.95em;
    background-color:mediumturquoise;
}

.sendBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 5em;
    border-radius: 0.5em;
    background-color:aquamarine;
    margin:0.5em;
    transition: 0.3s;
}

.sendBtn:hover {
    transition: 0.3s;
    background-color:cadetblue;
}