.loginView {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  margin-right: 1em;
  button {
    all: unset;
  }
  form {
    all: unset;
    align-items: center;
    position: relative;
  }
  input {
    width: 50%;
  }
  .error {
    width: 100%;
    position: absolute;
    bottom: -0.7em;
    color: $darkgray;
    margin: 0 0 0 1em;
  }
  .inputs {
    display: flex;
  }
  .btn {
    min-width: 4em;
  }
  .logged {
    margin-right: 2em;
  }
}
