.loginView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    max-width: 50em;
    color: white;
}

.loginIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 10em;
    border-radius: 0.1em;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}

.loginIcon:hover {
    transition: 0.3s;
    background-color: rgb(27, 27, 27);
    color: white;
    cursor: pointer;
}